@{
  Layout = "_Layout";
}

@model InStockTracker.Models.Product

<h1>Add a new product:</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control" })

    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price, new { @class="form-control", @type="number", @pattern="[$][0-9]+.[0-9]{2}" })

    @Html.LabelFor(model => model.Manufacturer)
    @Html.TextBoxFor(model => model.Manufacturer, new { @class="form-control" })

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class="form-control" })

    @Html.Label("Select Categories:")
    @foreach (var name in ViewBag.CategoryId)
    {
      <label>@name.Title</label>
      @Html.CheckBox("CategoryId", false, new {name.CategoryId })
    }
  </div>
  <input type="submit" value="Edit Product" class="btn" />
}