@{
  Layout = "_Layout";
}

@model InStockTracker.Models.Product 

<h1>@Model.Name</h1>

<p>@Model.Price</p>
<p>@Model.Manufacturer</p>
<p>@Model.Description</p>

@foreach(var join in Model.Categories)
{
  <p><a href="/Categories/Details/{join.Category.CategoryId}">@join.Category.Title</a></p>
}

<a href="/products/edit/{Model.ProductId}" class="btn btn-info">Edit Product Info</a>