@{
  Layout = "_Layout";
}

@model InStockTracker.Models.Product

<h1>@Model.Name</h1>
@if (!string.IsNullOrEmpty(Model.ImgTitle))
{
  <img src="@ViewBag.ImageDataUrl" />
}

<p>@Model.Price.ToString("C")</p>
<p>@Model.Manufacturer</p>
<p>@Model.Description</p>
<p>No. In Stock: @Model.Stock</p>

@foreach(var join in Model.Categories)
{
  <p><a href="/Categories/Details/{join.Category.CategoryId}">@join.Category.Title</a></p>
}
@using (Html.BeginForm("AddCartItem", "Account", new { @class="form-inline"}))
{
  @Html.Hidden("productId", Model.ProductId)
  <label class="sr-only"></label>
  <div class="input-group w-25">
    <div class="input-group-prepend">
      <div class="input-group-text">Qty</div>
    </div>
    <input class="form-control" type="number" name="quantity" value="1">
    <input class="btn btn-primary" type="submit" value="Add to cart">
  </div>
}
<a href="/products/addphoto/@Model.ProductId" class="btn btn-info mt-3">Add a Photo</a><br>
<a href="/products/edit/@Model.ProductId" class="btn btn-info mt-2">Edit Product Info</a>