@{
  Layout = "_Layout";
}

@model InStockTracker.Models.Product

<h1>@Model.Name</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductId)

  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control" })

    @Html.LabelFor(model => model.Price)
    <input class="form-control" name="Price" type="number" min="0.01" max="5000" step="0.01" >

    @Html.LabelFor(model => model.Manufacturer)
    @Html.TextBoxFor(model => model.Manufacturer, new { @class="form-control" })

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class="form-control" })

    <label for="Title">
      Select Categories:
    </label>
    @foreach (Category name in ViewBag.CategoryId)
    {
      <label>@name.Title</label>
      @Html.CheckBox("categoryId", false, new { @value=name.CategoryId })
    }
  </div>
  <input type="submit" value="Edit Product" class="btn" />
}