@{
  Layout = "_Layout";
}

@using InStockTracker.Models
@model List<InStockTracker.Models.CartItem>

@* <h2>Cart</h2>

<p>Items</p>
<ul>
  @{ decimal total = 0; }
  @foreach (CartItem item in Model)
  {
    decimal itemPrice = item.Product.Price * item.Quantity;
    total += itemPrice;
    <li>@item.Product.Name Qty: @item.Quantity Price: @itemPrice.ToString("C") </li>
    @using (Html.BeginForm("DeleteCartItem", "Account"))
    {
      @Html.Hidden("cartItemId", item.CartItemId)
      <input type="submit" value="Delete" class="btn btn-danger">
    }
  }
  <li>Total: @total.ToString("C")</li>
</ul> *@

<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Your Cart</h4>
    </div>
    <div class="card-body">
      <p>
        <strong>Items: </strong>
      </p>
      <ul class="cart-card-list">
        @{ decimal total = 0; }
        @foreach (CartItem item in Model)
        {
          decimal itemPrice = item.Product.Price * item.Quantity;
          total += itemPrice;
          <li>
            <div class="input-group">
              @item.Product.Name Qty: @item.Quantity Price: @itemPrice.ToString("C")
              @using (Html.BeginForm("DeleteCartItem", "Account"))
              {
                @Html.Hidden("cartItemId", item.CartItemId)
                @* <input type="submit" value="Delete" class="btn btn-danger"> *@
                <input type="submit" class="btn btn-danger" value=&times; />
              }
            </div>
          </li>
          <br>
        }
        <li><strong>Total: </strong>@total.ToString("C")</li>
      </ul>
    </div>
  </div>
</div>