@{
  Layout = "_Layout";
}

@using InStockTracker.Models
@model List<InStockTracker.Models.CartItem>

<div class="card w-75 mx-auto">
  <div class="card-header">
    <h4 class="card-title">Your Cart</h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="5">Cart @Model.Count item(s)</th>
      </tr>
    </thead>
    <tbody>
      @{ decimal total = 0; }
      @foreach (CartItem item in Model)
      {
        decimal itemPrice = item.Product.Price * item.Quantity;
        total += itemPrice;
        @if(ViewBag.ProductNames.Contains(item.Product.Name))
        {
        <td class="img-thumbnail"><img src="@ViewBag.ImageDictionary[item.Product.Name]" /></td>
        }
        else
        {
          <td>Img</td>
        }
        <td>@item.Product.Name</td>
        <td>Qty: @item.Quantity</td>
        <td>Price: @itemPrice.ToString("C")</td>
        <td>
          @using (Html.BeginForm("DeleteCartItem", "Account"))
          {
            @Html.Hidden("cartItemId", item.CartItemId)
            @* <input type="submit" value="Delete" class="btn btn-danger"> *@
            <input type="submit" class="btn btn-danger" value=&times; />
          }
        </td>
      }
      <tr><td colspan="5"><strong>Total: </strong>@total.ToString("C")</td></tr>
    </tbody>
    </table>
  </div>
</div>