@{
  Layout = "_Layout";
}

@model InStockTracker.Models.Category

<h1>@Model.Title</h1>

<div class="card-columns">
  @foreach(var join in Model.Products)
  {
  <div class="card">
    <div class="card-header"><h4 class="card-title">@join.Product.Name</h4></div>
    <div class="card-body">
      <p>@join.Product.Description</p>
      <p>@join.Product.Manufacturer</p>
      <p>@join.Product.Price</p>
    </div>
    <a href="product/details/@join.Product.ProductId" class="stretched-link"></a>
  </div>
  }
</div>