@{
  Layout = "_Layout";
}

@using InStockTracker.Models
@model InStockTracker.Models.Category

<img src="~/img/@Model.Title.ToLower()logo.png" alt="@Model.Title">

<div class="card-columns">
  @foreach(var join in Model.Products)
  {
  <div class="card">
    <div class="card-header"><h4 class="card-title">@join.Product.Name</h4></div>
    <div class="card-body">
      @if(ViewBag.ProductNames.Contains(join.Product.Name))
      {
        <img class="categories-image img-thumbnail w-50" src="@ViewBag.ImageDictionary[join.Product.Name]"/>
      }  
      <p>@join.Product.Description</p>
      <p>@join.Product.Manufacturer</p>
      <p>@join.Product.Price.ToString("C")</p>
    </div>
    <a class="stretched-link" href="/products/details/@join.Product.ProductId"></a>
  </div>
  }
</div>